@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%
}

body {
  background-image: url('/src/assets/background-image.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  
}

.wholebodyp1 {
  all: unset;
  display: block;
  width: 80%;
  margin: 91px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.imageWrapper {
  position: relative; 
  width: 100%;  
  display: flex;
  justify-content: center;
   position: relative;
   
}

.fruitbowl {
  width: 100%;  
  height: auto;   
  display: block;
}

.overlayText {
  position: absolute;
  color: white;
  font-size: clamp(16px, 3vw, 32px);
  font-family: 'Poppins', sans-serif;
  top: 10%;
  left: 5%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

.textBox1 {
  position: absolute;
  top: 15%;                 
  left: 5%;               
  max-width: 25%;           
  color: white;
  font-size: clamp(3px, 2.5vw, 30px); 
  font-family: 'Poppins', sans-serif;
}

.textBox2 {
  position: absolute;
  top: 46%;                 
  left: 5%;               
  max-width: 25%;           
  color: white;
  font-size: clamp(5px, 3.5vw, 170px); 
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
}

.textBox3 {
  position: absolute;
  top: 80%;                 
  left: 5%;               
  max-width: 25%;           
  color: white;
  font-size: clamp(3px, 2.5vw, 30px); 
  font-family: 'Poppins', sans-serif;
}
.button1 {
  all:unset;
   display: inline-block;
   cursor: pointer;
  position: absolute;
  top: 85%;                 
  left: 20%;
  bottom: 2%;              
  max-width: 200px;
  max-height: 150px;           
  color: white;
  font-size: clamp(1px, 2.5vw, 42px); 
  font-family: 'Poppins', sans-serif;
  background-color: orangered;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s ease
}

.button1:hover{
  color: rgb(200, 255, 0);
  transform: scale(1.05);

}

.buttonTopRight {
  all: unset;
  position: absolute;
  top: 25%;       
  right: 2%;       
  padding: 0.5em 1em;
  background-color: orangered;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(12px, 2vw, 24px);
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  transition: transform 0.3s ease
}

.buttonTopRight:hover{
    color: rgb(200, 255, 0);
    transform: scale(1.05);
}