.wholebodyp1 {
  height: 100vh;
  margin-left: 285px;
  margin-top: 91px;

}

.fruitbowl {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('../../assets/fruitbowl.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  width: 2348px;
  height: 1200px;
  
}
