@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.bodyP4Container {
  width: 80;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.bodyP4 {
  width: 80%;

  padding: 30px 28px;
  background-color: rgb(32, 40, 54);
  /* border-radius: 12px; */
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 60px;
  flex-direction: row;
}

.textbox {
  flex: 1;
  font-family: "Poppins", sans-serif;
  /* font-weight: 200; */
}

.rightSection {
  flex: 0 0 400px;
}

.berryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LeftSection {
  display: flex;
  justify-content: flex-start;
}

.helloCard {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.cardContent {
  position: relative;
  width: 100%;
  height: 100%;
}

.berryBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.cardText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 968px) {
  .mainContent {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .rightSection {
    flex: none;
    width: 100%;
    max-width: 400px;
  }

  .bottomSection {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .imageContainer {
    height: 250px;
  }

  .helloCard {
    width: 250px;
    height: 160px;
  }
}

@media (max-width: 480px) {
  .helloCard {
    width: 200px;
    height: 130px;
  }
}

.whitebox {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* gap: 5px; */
}

.imageContainer {
  width: 400px;
  height: 320px;
  border-radius: 16px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.05);
}
.learnMoreBtn {
  background-color: orangered;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: clamp(14px, 2vw, 18px);
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.learnMoreBtn:hover {
  transform: scale(1.05);
  color: yellow;
}
.whiteboxcontent {
  display: flex;
  justify-content: center;
  align-items: center;
}
