@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url('/src/assets/background-image.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100px;
  background-color: rgb(32, 40, 54);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  gap: 10px;
}

.content {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mapbuttonCSS1 {
  height: 80px;
  width: 80px;
  background-color: #2a313b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: row;
  border-radius: 0;
  border: none;
}

.mapiconCSS1 {
  height: 50px;
  width: 60px;
  background-color: #2a313b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: row;
}

.cartbuttonCSS2 {
  height: 80px;
  width: 80px;
  background-color: #2a313b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: row;
  border-radius: 0;
  border: none;
}

.carticonCSS2 {
  height: 50px;
  width: 60px;
  background-color: #2a313b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: row;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.wordedlinks {
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.link:hover {
  color: rgb(225, 255, 0);
}

.profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
