@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');






nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 84%;
  height: 100px;
  background-color: rgb(32, 40, 54);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size:large;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; 
  max-width: 100%; 
}

.wordedlinks {
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: medium;
}

.link:hover {
  color: rgb(225, 255, 0);
}

.mapbuttonCSS1 {
  height: 50px;
  width: 50px;
  background-color: #2a313b;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  min-width: 40px; 
}

.mapiconCSS1 {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.cartbuttonCSS2 {
  height: 50px;
  width: 50px;
  background-color: #2a313b;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  min-width: 40px; 
}

.carticonCSS2 {
 height: 30px;
  width: 30px;
  object-fit: contain;
}
